#!/usr/bin/env python
# coding: utf-8

# # 안녕하세요


#JUPYTER 단축키- a- 위에 항목 추가/ b- 아래 항목 추가 / m 마크다운 - #(=H1)/이미지 가져올 수 있음!



# <img = 


# 주석입니다((드래그)+'ctrl+/')

In [36]:
a = 1



print(a)

1

In [37]:
b = "문자"
print(b)

문자

In [38]:
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [42]:
c = 1.1
print(c)

1.1

# 변수명

In [45]:
# 변수명의 길이는 상관 없다


print(type(c))

aaaaaaa_bbb=1

<class 'float'>

In [47]:
# 변수명 중 빈 공간이 들어가면 안됨

a b= 1

SyntaxError: invalid syntax (<ipython-input-47-15163db74c72>, line 1)

In [55]:
# 변수명에는 특수문자가 불가능(아래 _ 제외)


a(b = 2)
a_b = 1

TypeError: 'int' object is not callable

In [73]:
# 변수명에는 숫자가 가장 맨 앞에 올 수 없다.

a1=1

1a=1

SyntaxError: invalid syntax (<ipython-input-73-ba58e6df7e44>, line 5)

In [72]:
# 변수명에는 대소문자 구분 한다.


A=1
print(A)

a = 2
print(a)

1
2

In [62]:
# 예약어의 라이브러리_ 변수명으로 사용 불가


import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [66]:
#class Type

a = [3,2,1,4,5]
print(type(a))



#정렬

print(sorted(a))



#역순 정렬

a.sort(reverse = True)
print(a)

<class 'list'>
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [68]:
#절대값

a = -1
print(abs(a))

1

In [76]:
#최대값, 최소값

a = [1,4,5,6,7,2,5,5,45,2,5,3,2]

print(max(a))
print(min(a))

45
1

# print 방법

In [77]:
#세로정렬

print(1)
print()
print(2)

1

2

In [85]:
#가로정렬

# 콤마(,)
print(1,2)

# end
print(1,end = ' ')
print(2)

# format
print("{} {}".format(0,1))
print("{1} {0}".format("a","b"))

1 2
1 2
0 1
b a

# 자료형

In [82]:
a = "문자"
b = '문자'
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [87]:
a = 1
b = '1'
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [88]:
a = "This is String"
print(a)
print(type(a))

This is String
<class 'str'>

# 변수

In [90]:
b = """rkskekfkakqktkdkwkk
zkxkvkgkkfrkskekfkakskwk
tkdkjfkejrkjdfla;woeijsk
djfrkskekfkakqktkdkwkckzkxkvkgk"""
print(b)


# ''  와 ""

print("'안녕하세요'")

print('"안녕하세요"')

print("\"안녕하세요\"")

rkskekfkakqktkdkwkk
zkxkvkgkkfrkskekfkakskwk
tkdkjfkejrkjdfla;woeijsk
djfrkskekfkakqktkdkwkckzkxkvkgk
'안녕하세요'
"안녕하세요"
"안녕하세요"

# 인덱스

In [96]:
# 0부터 시작
print(a[0])

# '-1' : 인덱스 마지막 값
print(a[-1])


# ':'와 "::"
print(a[0:2])
print(a[0::])
print(a[::-1])



# 2칸 씩! 
print(a[::2])


a = "0123456789"
print(a[::2]) # 짝수

a = "0123456789"
print(a[1::2]) # 혹수

a = "0123456789"
print(a[::-2]) # 역순 홀수



# slicing
a = "Hello, World"
print(a.split(','))


a = "Hello, World"
print(a[0:6],a[6:12])

H
d
He
Hello, World
dlroW ,olleH
Hlo ol
02468
13579
97531
['Hello', ' World']
Hello,  World

# 반복문

In [97]:
for i in range (2,10):
    print("{}x{}={}" .format(2,i, 2*i))

2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18

# 정렬

In [ ]:
a= [3,5,2,1,6,8,9,4,7]
print(sorted(a))

In [ ]:
a = [3,5,2,1,7,5,8,9,4]
a.sort()
print(a)
print(a[-1])
print(a[len(a)-1])

In [ ]:
a = [3,5,2,1,7,5,8,9,4]
sorted(a)
# print(a)
# sorted(a)는 정렬하여 출력!

# a = [3,5,2,1,7,5,8,9,4]
# b = sorted(a)
# print(a)
# print(b)

In [ ]:
a = [3,5,2,1,7,5,8,9,4]
a.sort()
print(a)

# a.sort는 정렬하여 저장 및 출력!

# 리스트의 특징
1. 대괄호로 선언
2. 콤마로 구분


l = [1,2,3,4]
print(l)

In [100]:
l = [1,2,3,4]
print(l)

[1, 2, 3, 4]

In [101]:
a = [1,"문자", '문자', 1.2, [1,[2,3],3]]
print(a)

[1, '문자', '문자', 1.2, [1, [2, 3], 3]]

In [102]:
print(a[4][1][1])

3

In [103]:
print(a[-1][-1])

3

In [104]:
print(a[0:2])
print(a[::-1])
a[0] = 2
print(a)

[1, '문자']
[[1, [2, 3], 3], 1.2, '문자', '문자', 1]
[2, '문자', '문자', 1.2, [1, [2, 3], 3]]

In [105]:
l.append 
# tab: 내장함수
# shift +tab _ append manual

In [106]:
a.append([1,2])
print(a)

# append : 이전의 리스트의 요소로 추가하는 것

[2, '문자', '문자', 1.2, [1, [2, 3], 3], [1, 2]]

In [107]:
a.append(1)
print(a)

[2, '문자', '문자', 1.2, [1, [2, 3], 3], [1, 2], 1]

In [108]:
a.extend([1,2])
print(a)

# extend : 이전의 리스트에 합쳐주는 것
# like...> print(a+[1,2,3])

[2, '문자', '문자', 1.2, [1, [2, 3], 3], [1, 2], 1, 1, 2]

In [109]:
a.extend(l)
print(a)

[2, '문자', '문자', 1.2, [1, [2, 3], 3], [1, 2], 1, 1, 2, 1, 2, 3, 4]

In [115]:
l = [0,1,2,3,4,5]
print(l)

[0, 1, 2, 3, 4, 5]

In [116]:
l.remove(1)
print(l)

[0, 2, 3, 4, 5]

In [112]:
l.pop(1)
print(l)

[0, 3, 4, 5]

In [113]:
l.remove(2)
print(l)

# remove는 해당 값을 제거

a = ['가','나','다']
a.remove('가')
print(a)

ValueError: list.remove(x): x not in list

In [117]:
l.pop(2)
print(l)
#pop은 해당 인덱스 자리의 값을 제거

a.pop(0)
print(a)

[0, 2, 4, 5]
['문자', '문자', 1.2, [1, [2, 3], 3], [1, 2], 1, 1, 2, 1, 2, 3, 4]

In [118]:
a = [1,2,3]
print(a*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# 튜플의 특징

In [119]:
t = (1,2,3)
print(type(t))

<class 'tuple'>

In [120]:
t = (1,"문자",1.2,[1,2,3],(1,2,3))
print(t[4][1:])


# t[0] = 2
# 튜플은 값 변경이 되지 않는다!!!!

(2, 3)

In [121]:
l = list(t)
print(l)

#튜플을 리스트로 형변환 가능하다!!

[1, '문자', 1.2, [1, 2, 3], (1, 2, 3)]

In [122]:
print(type(t[3]))

<class 'list'>

In [123]:
t[3][0] =4
print(t[3][0])
print(t)

# 튜플 내의 리스트는 요소로서 변경이 가능하다.

t[3] =4
# 하지만, 튜플 자체는 바꾸지 못한다.

4
(1, '문자', 1.2, [4, 2, 3], (1, 2, 3))

TypeError: 'tuple' object does not support item assignment

# 튜플과 큐

In [124]:
a = [1,2,3,4]
b = [1,2,3,4]

#큐
a.append(5)
print(a)

#스택
b.append(5)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [125]:
a.remove(4)
print(a)

[1, 2, 3, 5]

In [126]:
b.pop(4)
print(b)

[1, 2, 3, 4]

In [128]:
#튜플의 리스트 형변환

t = (1,"문자",1.2,[1,2,3],(1,2,3))
print(t)

l = list(t)
print(l)

l[0] = 2
print(l)

a = tuple(l)
print(a)

(1, '문자', 1.2, [1, 2, 3], (1, 2, 3))
[1, '문자', 1.2, [1, 2, 3], (1, 2, 3)]
[2, '문자', 1.2, [1, 2, 3], (1, 2, 3)]
(2, '문자', 1.2, [1, 2, 3], (1, 2, 3))

In [129]:
# 리스트 정렬(최솟값, 최댓값, 역순정렬)
t= (2,4,56,2,1,5,6,7,2,5)
l = list(t)
 
l.sort()
print(l[-1])
print(l[0])


print(max(l))
print(min(l))

print(sorted(t)[::-1][0])
print(sorted(t)[::-1][-1])

print(sorted(t)[::-1])
l.sort(reverse = True)
print(l)

56
1
56
1
56
1
[56, 7, 6, 5, 5, 4, 2, 2, 2, 1]
[56, 7, 6, 5, 5, 4, 2, 2, 2, 1]

In [130]:
t= (2,4,56,2,1,5,6,7,2,5)
print(max(t))
print(min(t))
print(sorted(t,reverse = True))

56
1
[56, 7, 6, 5, 5, 4, 2, 2, 2, 1]

In [131]:
t = tuple(sorted(t)[::-1])
print(type(t))
print(t)

<class 'tuple'>
(56, 7, 6, 5, 5, 4, 2, 2, 2, 1)

# 집합의 특징
1. 중복이 없음
2. 순서가 없음

In [132]:
s = {1,2,3,4,5,6,7,8,8,8,8}
s2 = {1,2,3}
print(type(s))

<class 'set'>

In [133]:
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

In [134]:
print(s-s2)

{4, 5, 6, 7, 8}

In [ ]:
t = (2,4,56,2,1,5,6,7,2,5,5,5,5,5,5,5,5,5,2,2)
print(sorted(t)[::-1])
print(sorted(set(t))[::-1][1])
print(sorted(set(t))[::-1][-3])